extends layout

block content
  h1 Bingo Card
  - var spaces = JSON.parse(card.layout);
  table
    tr
      th B
      th I
      th N
      th G
      th O
    tr
      - for (var i = 0; i < 5; i++)
        td(id='td'+spaces[i]['id']) #{spaces[i]['desc']}
    tr
      - for (var i = 5; i < 10; i++)
        td #{spaces[i]["desc"]}
    tr
      - for (var i = 10; i < 15; i++)
        td #{spaces[i]["desc"]}
    tr
      - for (var i = 15; i < 20; i++)
        td #{spaces[i]["desc"]}
    tr
      - for (var i = 20; i < 25; i++)
        td #{spaces[i]["desc"]}
  append foot
    script(type='text/javascript', src='/javascripts/card_display.js')
