extends layout

block content
  h1 Bingo Card
  - var spaces = JSON.parse(card.layout);
  table
    tr
  - for (var i = 0; i < 5; i++)
    #{JSON.stringify(spaces[i]["desc"])}
  - for (var i = 0; i < 5; i++)
    #{JSON.stringify(spaces[i]["desc"])}
  - for (var i = 4; i < 10; i++)
    #{JSON.stringify(spaces[i]["desc"])}
  - for (var i = 9; i < 15; i++)
    #{JSON.stringify(spaces[i]["desc"])}
  - for (var i = 14; i < 20; i++)
    #{JSON.stringify(spaces[i]["desc"])}
  - for (var i = 19; i < 25; i++)
    #{JSON.stringify(spaces[i]["desc"])}

