extends layout

block content
  h1 Bingo Card
  - var spaces = JSON.parse(card.layout);
  table
    tr
      th B
      th I
      th N
      th G
      th O
    tr
      - var y = 1;
      - for (var i = 0; i < 5; i++)
        td(id='td'+spaces[i]['id'] class='space') 
          | #{spaces[i]['desc']}
          input(id='xLoc'+spaces[i]['id'] type = 'hidden' value = '1')
          input(id='yLoc'+spaces[i]['id'] type = 'hidden' value = y)
          p 
            button(id = 'button' + spaces[i]['id']) Check off
        - y++;
    tr
      - var y = 1;
      - for (var i = 5; i < 10; i++)
        td(id='td'+spaces[i]['id'] class='space') 
          | #{spaces[i]['desc']}
          input(id='xLoc'+spaces[i]['id'] type = 'hidden' value = '1')
          input(id='yLoc'+spaces[i]['id'] type = 'hidden' value = y)
          p 
            button(id = 'button' + spaces[i]['id']) Check off
        - y++;
    tr
      - var y = 1;
      - for (var i = 10; i < 12; i++)
        td(id='td'+spaces[i]['id'] class='space') 
          | #{spaces[i]['desc']}
          input(id='xLoc'+spaces[i]['id'] type = 'hidden' value = '1')
          input(id='yLoc'+spaces[i]['id'] type = 'hidden' value = y)
          p 
            button(id = 'button' + spaces[i]['id']) Check off
        - y++;
      td#freeSpace Free Space
      - var y = 1;
      - for (var i = 13; i < 15; i++)
        td(id='td'+spaces[i]['id'] class='space') 
          | #{spaces[i]['desc']}
          input(id='xLoc'+spaces[i]['id'] type = 'hidden' value = '1')
          input(id='yLoc'+spaces[i]['id'] type = 'hidden' value = y)
          p 
            button(id = 'button' + spaces[i]['id']) Check off
        - y++;
    tr
      - var y = 1;
      - for (var i = 15; i < 20; i++)
        td(id='td'+spaces[i]['id'] class='space') 
          | #{spaces[i]['desc']}
          input(id='xLoc'+spaces[i]['id'] type = 'hidden' value = '1')
          input(id='yLoc'+spaces[i]['id'] type = 'hidden' value = y)
          p 
            button(id = 'button' + spaces[i]['id']) Check off
        - y++;
    tr
      - var y = 1;
      - for (var i = 20; i < 25; i++)
        td(id='td'+spaces[i]['id'] class='space') 
          | #{spaces[i]['desc']}
          input(id='xLoc'+spaces[i]['id'] type = 'hidden' value = '1')
          input(id='yLoc'+spaces[i]['id'] type = 'hidden' value = y)
          p 
            button(id = 'button' + spaces[i]['id']) Check off
        - y++;
  append foot
    script(type='text/javascript', src='/javascripts/card_display.js')
