extends layout

block content
  h1 Bingo Card
  - var spaces = JSON.parse(card.layout);
  table
    tr
      td B
      td I
      td N
      td G
      td O
    tr
      - for (var i = 0; i < 5; i++)
        td #{JSON.stringify(spaces[i]["desc"])}
    tr
      - for (var i = 5; i < 10; i++)
        td #{JSON.stringify(spaces[i]["desc"])}
    tr
      - for (var i = 10; i < 15; i++)
        td #{JSON.stringify(spaces[i]["desc"])}
    tr
      - for (var i = 15; i < 20; i++)
        td #{JSON.stringify(spaces[i]["desc"])}
    tr
      - for (var i = 20; i < 25; i++)
        td #{JSON.stringify(spaces[i]["desc"])}

