extends layout

block content
  div.row.col-12
    div.col
      div.border.rounded-3.text-box.quaternary
        div.col-lg-6.offset-lg-3
          div.text-center
            h1 Bingo Card
            input(id='gameId' type='hidden' value=card[0]['Space'].GameId)
            input(id='cardId' type='hidden' value=card[0].CardId)
            table.table.table-bordered
              thead
                tr
                  th(scope="col") B
                  th(scope="col") I-
                  th(scope="col") N
                  th(scope="col") G
                  th(scope="col") O
              tbody
                tr
                  - var x = 1;
                  - var row = 1;
                  - for (var i = 0; i < 5; i++)
                    td(id='td'+i class='space') 
                      div.d-none.d-md-inline
                        | #{card[i]['Space']['desc']}
                        input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
                        input(id='yLoc'+card[i]['position'] type = 'hidden' value = '5')
                        input(id='checked'+card[i]['position'] type='hidden' value = ''+card[i]['checked'] class='checkValue')
                        p         
                          button(id = 'button'+card[i]['position'] class='button btn-sm btn-primary') Check off
                      - x++;
                tr
                  - x = 1;
                  - for (var i = 5; i < 10; i++)
                    td(id='td'+card[i]['position'] class='space') 
                      div.d-none.d-md-inline
                        | #{card[i]['Space']['desc']}
                        input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
                        input(id='yLoc'+card[i]['position'] type = 'hidden' value = '4')
                        input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
                        p 
                          button(id = 'button'+card[i]['position'] class='button btn-sm btn btn-sm btn-primary') Check off
                        - x++;
                      span.d-inline.d-md-none  
                tr
                  - x = 1;
                  - for (var i = 10; i < 12; i++)
                    td(id='td'+card[i]['position'] class='space') 
                      div.d-none.d-md-inline
                        | #{card[i]['Space']['desc']}
                        input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
                        input(id='yLoc'+card[i]['position'] type = 'hidden' value = '3')
                        input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
                        p 
                          button(id = 'button'+card[i]['position'] class='button btn-sm btn btn-sm btn-primary') Check off
                        - x++;
                      span.d-inline.d-md-none  
                  td#freeSpace.space.checked 
                    | Free Space
                    input(id='xLoc'+card[i]['position'] type = 'hidden' value = '3')
                    input(id='yLoc'+card[i]['position'] type = 'hidden' value = '3')
                    input(id='checked12' type='hidden' value = 'true' class='checkValue')
                    p
                      button.button.noShow Check off
                  - x = 3;              
                  - for (var i = 13; i < 15; i++)
                    td(id='td'+card[i]['position'] class='space') 
                      div.d-none.d-md-inline
                        | #{card[i]['Space']['desc']}
                        input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
                        input(id='yLoc'+card[i]['position'] type = 'hidden' value = '3')
                        input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
                        p 
                          button(id = 'button'+card[i]['position'] class='button btn-sm btn btn-sm btn-primary') Check off
                        - x++;
                      span.d-inline.d-md-none  
                tr
                  - x = 1;
                  - for (var i = 15; i < 20; i++)
                    td(id='td'+card[i]['position'] class='space') 
                      div.d-none.d-md-inline
                        | #{card[i]['Space']['desc']}
                        input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
                        input(id='yLoc'+card[i]['position'] type = 'hidden' value = '2')
                        input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
                        p 
                          button(id = 'button'+card[i]['position'] class='button btn-sm btn btn-sm btn-primary') Check off
                        - x++;
                      span.d-inline.d-md-none       
                tr
                  - x = 1;
                  - for (var i = 20; i < 25; i++)
                    td(id='td'+card[i]['position'] class='space') 
                      div.d-none.d-md-inline
                        | #{card[i]['Space']['desc']}
                        input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
                        input(id='yLoc'+card[i]['position'] type = 'hidden' value = '1')
                        input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
                        p 
                          button(id = 'button'+card[i]['position'] class='button btn-sm btn btn-sm btn-primary') Check off
                        - x++;
                      span.d-inline.d-md-none
          ul.d-inline.d-md-none.list-group.mx-3.text-left
            - row = 1;
            - for (var i = 0; i < 25; i += 5)
              if i==13
                li.list-group-item.mx-3(id='vlistItem12')
                  input(type='checkbox' value='checkbox12' disabled).checkbox
                  |  FREE SPACE
              else
                li.list-group-item.mx-3(id='vlistItem'+i)
                    input(type="checkbox" value='checkbox'+i).checkbox
                    |  B-#{row}. #{card[i]['Space']['desc']}
                - row++;
            - row = 1;
            - for (var i = 0; i < 25; i += 5)
              if i==13
                li.list-group-item.mx-3(id='vlistItem12')
                  input(type='checkbox' value='checkbox12' disabled).checkbox
                  |  FREE SPACE
              else
                li.list-group-item.mx-3(id='vlistItem'+i)
                    input(type="checkbox" value='checkbox'+i).checkbox
                    |  I-#{row}. #{card[i]['Space']['desc']}
                - row++;
            - row = 1;
            - for (var i = 0; i < 25; i += 5)
              if i==13
                li.list-group-item.mx-3(id='vlistItem12')
                  input(type='checkbox' value='checkbox12' disabled).checkbox
                  |  FREE SPACE
              else
                li.list-group-item.mx-3(id='vlistItem'+i)
                    input(type="checkbox" value='checkbox'+i).checkbox
                    |  N-#{row}. #{card[i]['Space']['desc']}
                - row++;
            - row = 1;
            - for (var i = 0; i < 25; i += 5)
              if i==13
                li.list-group-item.mx-3(id='vlistItem12')
                  input(type='checkbox' value='checkbox12' disabled).checkbox
                  |  FREE SPACE
              else
                li.list-group-item.mx-3(id='vlistItem'+i)
                    input(type="checkbox" value='checkbox'+i).checkbox
                    |  G-#{row}. #{card[i]['Space']['desc']}
                - row++;
            - row = 1;
            - for (var i = 0; i < 25; i += 5)
              if i==13
                li.list-group-item.mx-3(id='vlistItem12')
                  input(type='checkbox' value='checkbox12' disabled).checkbox
                  |  FREE SPACE
              else
                li.list-group-item.mx-3(id='vlistItem'+i)
                    input(type="checkbox" value='checkbox'+i).checkbox
                    |  O-#{row}. #{card[i]['Space']['desc']}
                - row++;                  
                

              


  append footer
    script(type='text/javascript', src='/javascripts/card_display.js')

