extends layout

block content
  div.row.col-12
    h1 Bingo Card
    input(id='gameId' type='hidden' value=card[0]['Space'].GameId)
    input(id='cardId' type='hidden' value=card[0].CardId)          
    table.table
      thead
        tr
          th B
          th I
          th N
          th G
          th O
      tr
        - var x = 1;
        - for (var i = 0; i < 5; i++)
          td(id='td'+i class='space') 
            | #{card[i]['Space']['desc']}
            input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
            input(id='yLoc'+card[i]['position'] type = 'hidden' value = '5')
            input(id='checked'+card[i]['position'] type='hidden' value = ''+card[i]['checked'] class='checkValue')
            p 
  
              button(id = 'button'+card[i]['position'] class='button btn btn-primary') Check off
            - x++;
      tr
        - x = 1;
        - for (var i = 5; i < 10; i++)
          td(id='td'+card[i]['position'] class='space') 
            | #{card[i]['Space']['desc']}
            input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
            input(id='yLoc'+card[i]['position'] type = 'hidden' value = '4')
            input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
            p 
              button(id = 'button'+card[i]['position'] class='button btn btn-primary') Check off
            - x++;
      tr
        - x = 1;
        - for (var i = 10; i < 12; i++)
          td(id='td'+card[i]['position'] class='space') 
            | #{card[i]['Space']['desc']}
            input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
            input(id='yLoc'+card[i]['position'] type = 'hidden' value = '3')
            input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
            p 
              button(id = 'button'+card[i]['position'] class='button btn btn-primary') Check off
            - x++;
        td#freeSpace.space.checked 
          | Free Space
          input(id='xLoc'+card[i]['position'] type = 'hidden' value = '3')
          input(id='yLoc'+card[i]['position'] type = 'hidden' value = '3')
          input(id='checked12' type='hidden' value = 'true' class='checkValue')
          p
            button.button.noShow Check off
        - x = 4;
        - for (var i = 13; i < 15; i++)
          td(id='td'+card[i]['position'] class='space') 
            | #{card[i]['Space']['desc']}
            input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
            input(id='yLoc'+card[i]['position'] type = 'hidden' value = '3')
            input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
            p 
              button(id = 'button'+card[i]['position'] class='button btn btn-primary') Check off
            - x++;
      tr
        - x = 1;
        - for (var i = 15; i < 20; i++)
          td(id='td'+card[i]['position'] class='space') 
            | #{card[i]['Space']['desc']}
            input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
            input(id='yLoc'+card[i]['position'] type = 'hidden' value = '2')
            input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
            p 
              button(id = 'button'+card[i]['position'] class='button btn btn-primary') Check off
            - x++;
      tr
        - x = 1;
        - for (var i = 20; i < 25; i++)
          td(id='td'+card[i]['position'] class='space') 
            | #{card[i]['Space']['desc']}
            input(id='xLoc'+card[i]['position'] type = 'hidden' value = x)
            input(id='yLoc'+card[i]['position'] type = 'hidden' value = '1')
            input(id='checked'+i type='hidden' value = ''+card[i]['checked'] class='checkValue')
            p 
              button(id = 'button'+card[i]['position'] class='button btn btn-primary') Check off
            - x++;
  append foot
    script(type='text/javascript', src='/javascripts/card_display.js')

