extends layout

block content
  h1=title
  div
    div
      p Game Code: #{game.code}
      p
        button#startGameButton Start Game 
      p
        div#requestCardDiv.noShow
          a(href='/play/card_request?gameId='+game.id) Request a Card
      p
        div#gameStatusDiv
          div#gameStatusText Game Pending Start
          input(type='hidden' id='gameStatus' name='gameStatus' value=game.status)
      p
        p Game Name:
        p
          div#gameNameDiv
          input#gameName.show(type='text' placeholder='Game Name')
          button#gameNameSaveButton.show Save
          button#gameNameChangeButton.noShow Change
        p
          Your Game's Spaces (you need 24 to start):
        p
          ul#spaceList
            li#newSpaceLi
              input#newSpace(type='text' placeholder='New Space')
              input(type='hidden' id='gameId' name='gameId' value=game.id)
              button#addSpaceButton Add Space
        p
          button#refresh Refresh Spaces
        p
          a(href='/') Home

  if errors 
    ul
      for error in errors
        li!= error.msg

  append foot
    script(type='text/javascript', src='/javascripts/game_form.js')
