extends layout

block content
  h1 Welcome

  p #[strong Description:] #{space.desc}
  p #[strong Created by:] #{space.user_created}
  p #[strong Game:] #{space.gameId}

  p
    a(href=space.url+'/delete') Delete Space
  p
    a(href=space.url+'/update') Update Space
